.user-widget {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
}

.user-widget img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.user-info {
    flex: 1;
    margin:10px;
}

.user-info h2 {
    margin: 10px;
    font-size: 18px;
}

.user-info p {
    margin: 5px;
}
.round-image {
    border-radius: 50%;
}
